body{
    background-color: rgb(21, 2, 56);
    /* background-color: rgb(155, 107, 243); */
}
.new-text-primary{
    color: rgb(210, 187, 13);
}

.show-all-button, .search-button{
    color: rgb(12, 12, 12);
    background-color: orange;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}

.show-all-button:hover{
    color: rgb(254, 254, 254);
    background-color: rgb(6, 131, 194);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}

.search-button{
    color: rgb(12, 12, 12);
    background-color: orange;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}

.search-button:hover{
    color: rgb(12, 12, 12);
    background-color: rgb(85, 217, 9);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}

.search-button-primary-color{
    border: 4px solid rgb(108, 33, 247);
}


/* Footer Customized CSS  */
.footer-section{
    margin-top: 100px;
    background-color: black;
}
.footer-terms-and-condition{
    text-decoration: none;
    color: rgb(74, 14, 194);
}
.footer-email, .forter-mobile{
    margin-top: -14px;
}
.copyright-footer-text{
    color: black;
    font-weight: bold;
}